$font__main: 'Oswald', sans-serif;
$font__other: 'Tahoma', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

//Responsive font-sizes map
$breakpoints: (
  smallest: 360px,
  small : 414px,
  medium: 600px,
  large : 768px,
  larger: 992px,
  main : 1200px,
  big : 1600px
);

$p-font-sizes: (
  null  : 9px,
  smallest: 9px,
  small : 9px,
  medium: 12px,
  large : 12px,
  larger: 13px,
  main: 13px,
  big: 13px
);

$h1-font-sizes: (
  null  : 22px,
  smallest: 22px,
  small :24px,
  medium: 28px,
  large : 28px,
  larger : 30px,
  main: 28px,
  big: 28px
);
$h2-font-sizes: (
  null  : 20px,
  smallest: 20px,
  small : 20px,
  medium: 22px,
  large : 22px,
  larger : 22px,
  main:22px,
  big: 24px
);
$h3-font-sizes: (
  null  : 20px,
  smallest: 20px,
  small : 20px,
  medium: 22px,
  large : 22px,
  larger : 22px,
  main:22px,
  big: 24px
);
$menu-font-sizes: (
  null  : 14px,
  smallest: 15px,
  small : 16px,
  medium: 16px,
  large : 11px,
  larger: 14px,
  main: 14px,
  big: 15px
);
$menu-btn-font-sizes: (
  null  : 16px,
  smallest: 16px,
  small : 18px,
  medium: 20px,
  large : 36px,
  larger: 20px,
  main: 20px,
  big: 20px
);
$footer-font-sizes: (
  null  : 7px,
  smallest: 7px,
  small : 8px,
  medium: 10px,
  large : 10px,
  larger: 11px,
  main: 11px,
  big: 11px
);